@model ForkToFit.Models.MealPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Id)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.UserProfileId)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlanTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealPlanTypeId)
        </dd>



        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalorieTracker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalorieTracker)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
