@model IEnumerable<ForkToFit.Models.MealPlan>
@*@model ForkToFit.Models.ViewModels.MealPlanListViewModel*@

@{
    ViewData["Title"] = "Meal Plans";
}

<h1>Meal Plans</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Meal Plan</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                @*@Html.DisplayNameFor(model => model.MealPlanTypeId)*@
                Meal Plan Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalorieTracker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.MealPlanType.Name)
            </td>
          
            <td>
               @Html.DisplayFor(modelItem => item.CalorieTracker)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
